@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SSE WININF - Monitoring and Automation Site</h1>
</div>

<div class="col-md-12">
    <h2>Welcome to the SSE WinInf Monitoring and Automation Site</h2>
    <p>
        This site has been designed to assist in monitoring of the estate, and running of standardised PowerShell scripts. The hope is this will reduce mistakes and allow code to be run efficiently.
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2><img src="~/Images/scom.png" style="height: 100px; margin: 5px"><span style="vertical-align: top">SCOM Monitoring </span></h2>
        <div id="SCOMPartial">
            Loading . . .
        </div>
    </div>
    <div class="col-md-6">
        <h2><img src="~/Images/PowerShell.png" style="height: 100px; margin: 5px"><span style="vertical-align: top">PowerShell Scripts</span></h2>
        <div id="PSPartial">
            Loading. . . 
        </div>
    </div>
</div>

@section Scripts {
    <script type='text/javascript'>

        $(function () {
            setInterval(function () {
                $('#SCOMPartial').load('/SCOM/GetPartial?partialName=_SCOM');
                $('#PSPartial').load('/PowerShell/GetPSPartial');
            }, 3000);
        });

    </script>
}


