@{
    ViewBag.Title = "Home Page";
}

<div id="SCOMNewModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New SCOM Alerts</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="SCOMAlert" style="font-size:18px;">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-success btn-lg">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row col-centered" style="margin-top: 100px;">
    <div class="col-lg-12 col-md-12 col-sm-12 maxheight" style="display: table">

        <div id="SCOMPartial" style="display: table">
            Loading . . .
        </div>

        @*<div id="GPOPartial" style="display: table">
            Loading. . .
        </div>*@
    </div>
</div>
@section Scripts {
    <script type='text/javascript'>

        $(document).ready(function () {
            $('#SCOMPartial').load('/SCOM/GetPartial?partialName=_SCOM', function () {
                $(this).find('.sortable').append($('<div class="row">').load('/AD/ADServiceHealth'));
            });
        });

        $(document).on('click', '#SCOMNewLink', function () {
            $('#SCOMAlert').load('/SCOM/GetPartial?partialName=_SCOMAlertNew');
        });

        $(document).on('click', '#SCOMClusterLink', function () {
            $('#SCOMAlert').load('/SCOM/GetPartial?partialName=_SCOMClusters');
        });
        $(document).ready(function () {
            $('#SCOMNewModal').on('show.bs.modal', function () {
                $(this).find('.modal-dialog').css({
                    postion: 'relative',
                    display: 'table',
                    width: 'auto', //probably not needed
                    height: 'auto', //probably not needed
                    'max-width': '100%',
                    'max-height': '100%!important'
                });
            });
            $('#SCOMNewModal').on('hidden.bs.modal', function () {
                $(this).find('#SCOMAlert').html("<div id='SCOMAlert'>Loading . . .</div>");
            });
        });



    </script>
}

