  .green {
    color: #24c279 !important;
  }
  .red {
    color: #bc2929 !important;
  }
  .cardprimary-value {
    color: #f10e0e;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
  }

  .cardsecondary-value {
    color: #e05d05;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

.cardvalue-left {
    text-align: left;
}

.cardvalue-right {
    text-align: right;
}

.cardvalue-center {
    text-align: center;
}
  .cardvalue {
    text-align: center;
  }
  .cardcomparison_wrapper {
    width: auto;
    margin: 0px auto;
    background-color: lightgrey
  }
.cardleft_comparison {
    float: left;
    width: 50%;
    background-color: lightgrey
}
.cardright_comparison {
    float: right;
    width: 50%;
    background-color: lightgrey
}
    
  