@using System.Text;

@model IEnumerable<Automation.ViewModels.ADServiceHealthViewModel>

<div class="cardpanel bargraph panel-inverse clearfix resizable-bar">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-warning" data-click="panel-collapse" title="Collapse Panel"><i class="fas fa-minus"></i></a>
        </div>
        <h4 class="panel-title">AD Health</h4>
    </div>
    <div class="panel-body">
        <div class="chart-container" style="position: relative;">
            <canvas id='ADServiceHealthDiv'></canvas>
        </div>
    </div>
</div>


@{ 
    StringBuilder labels = new StringBuilder("labels: [");
    StringBuilder data = new StringBuilder("data: [");
    foreach (var item in Model)
    {
        labels.Append("'" + item.DomainController + "',");
        data.Append("'" + item.ServiceErrors + "',");
    }
    labels.Length--;
    data.Length--;
    labels.Append("],");
    data.Append("]");


}

<script type="text/javascript">

    $('.resizable-bar').each(function () {
        $(this).resizable({
            ghost: true,
            minWidth: 600,
            minHeight: 400,
            animate: true
        });
    });


    var dynamicColours = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    var ctx = document.getElementById('ADServiceHealthDiv');
    var GPOPieChart = new Chart(ctx,
    {
        type: 'bar',
        data: {
                @Html.Raw(labels)
                datasets: [
                    {
                        label: "AD Health",
                        @Html.Raw(data)
                    }
                
                ]
        },
        options: {
            title: {
                display: true,
                responsive: true,
                text: "AD Service Health '@Model.First().Domain'"
            }
        }
});


</script>