@using System.Text;

@model IEnumerable<Automation.ViewModels.ADServiceHealthViewModel>

<div class="bargraph panel-inverse clearfix resizable-bar ui-sortable">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-warning" data-click="panel-collapse" title="Collapse Panel"><i class="fas fa-minus"></i></a>
        </div>
        <h4 class="panel-title">AD Health</h4>
    </div>
    <div class="panel-body">
        <div class="chart-container" style="position: relative;">
            <canvas id='ADServiceHealthDiv'></canvas>
        </div>
    </div>
</div>

@{ 
    StringBuilder labels = new StringBuilder("labels: [");
    StringBuilder data = new StringBuilder("data: [");
    foreach (var item in Model)
    {
        labels.Append("'" + item.DomainController + "',");
        data.Append("'" + item.ServiceErrors + "',");
    }
    labels.Length--;
    data.Length--;
    labels.Append("],");
    data.Append("]");


}

<script type="text/javascript">

    $('.sortable').sortable({
        connectWith: ".sortable",
        items: ".cardpanel",
        placeholder: "placeholder",
        forcePlaceholderSize: true,
        cursor: "move",
        opacity: 0.5,
        handle: ".panel-heading",
        update: function (event, ui) {
            var saveOrd = $('.sortable').sortable('toArray');
            $.cookie('sortOrder', saveOrd);
            $.each(saveOrd, function (i, e) {
                $.cookie(e, $('#' + e).html());
            });
        }
    });

    $(document).ready(function () {
        var savedOrd = $.cookie('sortOrder');
        if (savedOrd) {
            $.each(savedOrd.split(','), function (i, e) {
                $('#' + e).insertAfter('.sortable>div>div.cardpanel:eq(' + i + ')');
                var width = $.cookie(e + 'width');
                var height = $.cookie(e + 'height');
                var fontp = $.cookie(e + 'font-p');
                var fonth2 = $.cookie(e + 'font-h2');
                if (width && height) {
                    $('#' + e).css({
                        "width": width,
                        "height": height
                    })
                }
                $('#' + e + ' div p').css("font-size", fontp);
                $('#' + e + ' div h2').css("font-size", fonth2);


            });
        }
        else {
            $.each($('.sortable>div>div.cardpanel'), function (i, e) {
                var width = $.cookie(e.id + 'width');
                var height = $.cookie(e.id + 'height');
                var fontp = $.cookie(e.id + 'font-p');
                var fonth2 = $.cookie(e.id + 'font-h2');
                if (width && height) {
                    $('#' + e.id).css({
                        "width": width,
                        "height": height
                    })
                }
                $('#' + e.id + ' div p').css("font-size", fontp);
                $('#' + e.id + ' div h2').css("font-size", fonth2);
            });
        }

    });


    $('#save').click(function () {
        var saveOrd = $('.sortable').sortable('toArray');
        $.cookie('sortOrder', saveOrd);
    });



    //$('.ui-sortable').each(function (index, domEle) { $(domEle).attr('id', 'column_' + index) });
    $('.resizable-bar').each(function () {
        $(this).resizable({
            alsoResize: $(this).find('canvas'),
            ghost: true,
            minWidth: 600,
            minHeight: 400,
            grid: [40, 40],
            animate: true
        });
    });

    $('.resizable-card').resizable({
        ghost: true,
        minWidth: 200,
        minHeight: 255,
        grid: [40, 40],
        animate: true,
        stop: function (event, ui) {
            id = ui.element.attr('id')
            var uiheight = $('#' + id).height();
            var uiwidth = $('#' + id).width();
            $.cookie(id + 'height', uiheight);
            $.cookie(id + 'width', uiwidth);
            $.cookie(id + 'font-p', $('#' + id + ' div p').css("font-size"));
            $.cookie(id + 'font-h2', $('#' + id + ' div h2').css("font-size"));
            $('.resizable-card p').fitText(0.4, { maxFontSize: '80px' });
            $('.resizable-card h2').fitText(0.6, { maxFontSize: '70px' });
        }

    });


    var dynamicColours = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    var ctx = document.getElementById('ADServiceHealthDiv');
    var GPOPieChart = new Chart(ctx,
    {
        type: 'bar',
        data: {
                @Html.Raw(labels)
                datasets: [
                    {
                        label: "AD Health",
                        @Html.Raw(data)
                    }
                
                ]
        },
        options: {
            title: {
                display: true,
                responsive: true,
                text: "AD Service Health '@Model.First().Domain'"
            }
        }
});


</script>