@using System.Text
@model Automation.ViewModels.GPOViewModel

<div class="cardpanel doughnutgraph ui-sortable widgets" style="min-width: 250px; min-height: 400px;">
    <div class="row">
        <div class="cardpanel pieChart panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-warning" data-click="panel-collapse" title="Collapse Panel"><i class="fas fa-minus"></i></a>
                </div>
                <h4 class="panel-title">GPO Health</h4>
            </div>
            <div class="panel-body">
                <canvas id="chart-div"></canvas>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var dynamicColours = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };

    var ctx = document.getElementById('chart-div');
    var GPOPieChart = new Chart(ctx,
    {
        type: 'doughnut',
        data: {
                labels: ["Healthy","Error"],
                datasets: [
                    {
                        label: "GPO's",
                        backgroundColor:["Green","Red"],
                        data: ["@Model.Healthy","@Model.Error"]
                    }
                ]
        },
        options: {
            title: {
                display: true,
                responsive: true,
                text: "GPO Health '@Model.Domain'"
            }
        }
});

</script>