@model IEnumerable<Automation.Models.SCOM>

<div class="sortable" id="sortable" >
    <div class="row">
    </div>
</div>

    <script type="text/javascript">

        $('.sortable').sortable({
            connectWith: ".sortable",
            items: ".cardpanel",
            placeholder: "placeholder",
            forcePlaceholderSize: true,
            cursor: "move",
            opacity: 0.5,
            handle: ".panel-heading",
            update: function (event, ui) {
                var saveOrd = $('.sortable').sortable('toArray');
                $.cookie('sortOrder', saveOrd);
                $.each(saveOrd, function (i, e) {
                    $.cookie(e, $('#' + e).html());
                });
            }
        });

        //$('.cardpaneldiv').resizable({
        //    ghost: true,
        //    minWidth: 200,
        //    minHeight: 255,
        //    grid: [40, 40],
        //    animate: true,
        //    stop: function (event, ui) {
        //        id = ui.element.attr('id')
        //        var uiheight = $('#' + id).height();
        //        var uiwidth = $('#' + id).width();
        //        $.cookie(id + 'height', uiheight);
        //        $.cookie(id + 'width', uiwidth);
        //        $.cookie(id + 'font-p', $('#' + id + ' div p').css("font-size"));
        //        $.cookie(id + 'font-h2', $('#' + id + ' div h2').css("font-size"));
        //        $('.resizable-card p').fitText(0.4, { maxFontSize: '80px' });
        //        $('.resizable-card h2').fitText(0.6, { maxFontSize: '70px' });
        //    }

        //});

    </script>
